/*Default font*/
$fontFamaly: "OpenSans";

$minWidth: 320px;
$maxWidth: 1400;
$breakpoint1: 1199px;
$breakpoint2: 991px;
$breakpoint3: 767px;
$breakpoint4: 575px;
$breakpoint5: 361px;

$maxWidthContainer1: 1180;
$maxWidthContainer2: 970;
$maxWidthContainer3: 750;

/*Colors*/
$dark1: #312d2d;
$dark2: #272D30;
$dark3: #242424;

@import "basic";

body{
    font-family: $fontFamaly, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: $dark1;
}
img{
    display: inline-block;
}

.preload * {
    transition: none !important;
}

.dke_container{
    max-width: $maxWidthContainer1 + px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: $maxWidthContainer2) {
        max-width: $maxWidthContainer2 + px;
    }
    @media screen and (max-width: $maxWidthContainer1) {
        max-width: $maxWidthContainer3 + px;
    }
    @media screen and (max-width: $maxWidthContainer2) {
        max-width: 100%;
    }
}

.dke {
    &_header {

    }
    &_container {}
    &_bottom-header {}
    &_drop-down-menu {
        padding: 40px 0 50px;
        border: 1px solid #C0C0C0;
        box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);

    }
    &_item-drop-down {
    }
    &_menu-mobile-header {}
    &_item-drop-down-mobile {}
    &_subitem-drop-down {}
    &_bottom-mobile-header {}
}
.dke_header {
    &__top {}
    &__top-wrapper {}
    &__bottom {}
    &__drop-down-menu {}
    &__menu-mobile {}
}
.dke_bottom-header {
    &__btn {}
}
.dke_drop-down-menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: $dark3;
    &__nav {
        display: flex;
        justify-content: space-between;
    }
    &__list {}
    &__list-item {
    }
    &__top-list-item {}
}
.dke_item-drop-down {
    &__link {
        display: flex;
    }
    &__icon {
        height: 42px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    &__btn {
        display: flex;
    }
    &__sublist {
        padding-left: 45px;
    }
    &__sublist-item {
        &+&{
            margin-top: 10px;
        }
    }
    &__sublist-link {}
}
.nav-icon {
}
.filled-line {
}
.dke_menu-mobile-header {
    background-color: $dark2;
    &__nav {
    }
    &__top-list {
        padding: 25px 0;
    }
    &__bottom {}
}
.dke_item-drop-down-mobile {
    color: #fff;
    &__head {
        display: flex;
    }
    &__head-link {
        display: flex;
    }
    &__head-icon {}
    &__head-text {}
    &__body {}
    &__body-subitem {}
    &__link {}
    &__icon {}
    &__text {}
}
.dke_subitem-drop-down {
    &__head {
        display: flex;
    }
    &__head-icon {}
    &__head-title {}
    &__body {}
    &__list {}
    &__list-item {}
    &__list-link {}
}
.dke_bottom-mobile-header {
    &__list {}
    &__list-item {}
}

