/*Default font*/
/*Colors*/
/*Max-width of screen*/
html, body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

input, textarea {
  outline: none;
  border: none;
}

img {
  display: inline-block;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #312d2d;
}

img {
  display: inline-block;
}

.preload * {
  transition: none !important;
}

.dke_container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1199px) {
  .dke_container {
    max-width: 970px;
  }
}
@media screen and (max-width: 991px) {
  .dke_container {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .dke_container {
    max-width: 100%;
  }
}

.dke_drop-down-menu {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}
.dke_menu-mobile-header svg {
  fill: #F4F4F4;
}
.dke_header {
  position: relative;
}
.dke_header__menu-mobile {
  transition: left 0.3s ease-out;
  position: fixed;
  left: -110%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 3;
}

.dke_drop-down-menu {
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #242424;
  max-height: 0;
  overflow-y: hidden;
  padding: 0;
  transition: all 0.3s ease-out;
}
.dke_drop-down-menu.active {
  padding: 40px 0 50px;
  border: 1px solid #C0C0C0;
}
@media screen and (max-width: 1050px) {
  .dke_drop-down-menu {
    font-size: 14px;
  }
}
.dke_drop-down-menu__nav {
  display: flex;
  justify-content: space-between;
}
.dke_drop-down-menu__list {
  flex: 0 1 32%;
}
.dke_drop-down-menu__top-icon {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dke_drop-down-menu__top-icon svg {
  display: block;
}
.dke_drop-down-menu__top-list-item {
  flex: 0 1 calc(50% - 4px);
  width: calc(50% - 4px);
}
.dke_drop-down-menu__top-list-link {
  position: relative;
  padding: 56px 15px 11px;
  border: 1px solid #BFBFBF;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dke_item-drop-down {
  transition: max-height 0.3s ease-out;
}
.dke_item-drop-down__link {
  display: flex;
  transition: all 0.3s ease-out;
}
.dke_item-drop-down__link:hover {
  text-decoration: underline;
}
.dke_item-drop-down__icon {
  height: 42px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dke_item-drop-down__text {
  padding-left: 0.94em;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
}
.dke_item-drop-down__btn {
  display: flex;
  cursor: pointer;
}
.dke_item-drop-down__btn .dke_item-drop-down__text {
  position: relative;
}
.dke_item-drop-down__btn .dke_item-drop-down__text::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.50232 3.98378L1.38707 0.163078C1.27403 0.0578746 1.12289 4.27754e-07 0.96174 4.34798e-07C0.800496 4.41846e-07 0.649447 0.0578747 0.536227 0.163078L0.175821 -16.502131C0.0624225 0.602906 -2.29777e-07 0.743316 -2.23237e-07 0.892942C-2.16696e-07 1.04257 0.0624225 1.18281 0.175821 1.28793L5.07538 5.83709C5.18896 5.94262 5.34072 6.00041 5.50206 6C5.66411 6.00041 5.81569 5.9427 5.92936 5.83709L10.8242 1.29217C10.9376 1.18705 11 1.0468 11 0.897093C11 0.747467 10.9376 0.607223 10.8242 0.50202L10.4638 0.167312C10.2292 -0.0504846 9.84732 -0.0504846 9.61284 0.167312L5.50232 3.98378Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 11px;
  height: 6px;
  transition: transform 0.3s ease-out;
  display: inline-block;
  position: relative;
  right: -0.5em;
}
.dke_item-drop-down__btn._active .dke_item-drop-down__text::after {
  transform: rotate(180deg);
}
.dke_item-drop-down__sublist {
  transition: max-height 0.3s ease-out;
  padding-left: 45px;
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 0;
}
.dke_item-drop-down__sublist-item {
  padding-top: 0.6em;
}
.dke_item-drop-down__sublist-link {
  transition: all 0.3s ease-out;
}
.dke_item-drop-down__sublist-link:hover {
  color: #49AADA;
  text-decoration: underline;
}

.dke_menu-mobile-header {
  color: #fff;
  background-color: #272D30;
}
.dke_menu-mobile-header__top-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 6px;
  padding: 25px 15px;
}
.dke_item-drop-down-mobile__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  cursor: pointer;
}
.dke_item-drop-down-mobile__head._active .dke_item-drop-down-mobile__head-icon_arrow {
  transform: rotate(180deg);
}
.dke_item-drop-down-mobile__head-link {
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  align-items: flex-start;
}
.dke_item-drop-down-mobile__head-icon {
  margin-right: 17px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dke_item-drop-down-mobile__head-icon_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
}
@media screen and (max-width: 750px) {
  .dke_item-drop-down-mobile__head-text {
    word-break: break-all;
  }
}
.dke_item-drop-down-mobile__body {
  transition: all 0.3s ease-out;
  background-color: #2C3438;
  padding: 0 15px;
  overflow: hidden;
  max-height: 0;
}
.dke_item-drop-down-mobile__body._active {
  padding: 10px 15px 20px;
  border-top: 1px solid #929292;
  margin-bottom: 15px;
}
.dke_item-drop-down-mobile__link {
  display: flex;
  align-items: flex-start;
  padding: 0 15px;
}
.dke_item-drop-down-mobile__icon {
  height: 48px;
  margin-right: 17px;
  width: 33px;
  flex: 0 1 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dke_item-drop-down-mobile__text {
  padding: 11px 0;
}
@media screen and (max-width: 750px) {
  .dke_item-drop-down-mobile__text {
    word-break: break-all;
  }
}

.dke_subitem-drop-down {
  font-size: 17px;
}
.dke_subitem-drop-down__head {
  display: flex;
  font-size: 20px;
  width: 100%;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  cursor: pointer;
}
.dke_subitem-drop-down__head-icon {
  margin-right: 17px;
  width: 30px;
  flex: 0 1 30px;
}
.dke_subitem-drop-down__head-title {
  flex: 0 1 calc(100% - 30px);
}
.dke_subitem-drop-down__body {
  padding-top: 8px;
  padding-bottom: 15px;
}
.dke_subitem-drop-down__list {
  color: #C8C8C8;
}
.dke_subitem-drop-down__list-item + .dke_subitem-drop-down__list-item {
  margin-top: 10px;
}
.dke_subitem-drop-down__list-link {
  padding-left: 50px;
  width: 100%;
}

.dke_bottom-mobile-header__list {
  font-size: 20px;
}
.dke_bottom-mobile-header__list_hr {
  padding-top: 20px;
  margin-top: 20px;
  position: relative;
}
.dke_bottom-mobile-header__list_hr::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: calc(100% - 60px);
  background-color: #929292;
}/*# sourceMappingURL=style.css.map */